# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyBfauq1mf64i3aze6ILc_KS7I8TGLsyUNo"
VITE_FIREBASE_AUTH_DOMAIN="go---kart-web.firebaseapp.com",
VITE_FIREBASE_PROJECT_ID="go---kart-web"
VITE_FIREBASE_STORAGE_BUCKET="go---kart-web.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="128832945579"
VITE_FIREBASE_APP_ID="1:128832945579:web:2ff6471d92c54a28f3e6ee"

# Google Sheets Webhook URL (from Apps Script)
VITE_GOOGLE_SHEETS_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbzvV0AByXnqf6XmG1RBZ1_o5QvA7u4aaPC97EbFgyq9KN-trFckBJCUUwi1P4tISIfkRQ/exec



// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "",
  authDomain: 
  projectId: ,
  storageBucket: ,
  messagingSenderId: ,
  appId: ,
  measurementId: "G-R2Z31Q04WN"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);